extends layout

block content
  
  div(class="container-fluid")
    div(class="row")
      div(class="col-sm-6 c_info")
        h1= title
        p Welcome to #{title}
      if(user)
        div(class="col-sm-6")
          img(src="#{user.photo}", class="pull-right")
          ul(class="pull-right c_user")           
            li Welcome 
              strong #{user.name}
            li
              a(href='logout') Sign out

  if(user)
    div(class="container-fluid")

      include tracking

      include projectModal
        
  else
    ul
      li
        a(href='auth/twitter', class="label label-info") #{aTwitter} &nbsp;
          span(class='fa fa-twitter')
          
block js
  include jsBlock       
